# Bytecode
__pycache__/
*.py[cod]

# Env
.venv/
venv/
.env

# Cache
.ruff_cache/
.mypy_cache/
.pytest_cache/

# Build
*.egg-info/
dist/
build/

# Output
output/
scratch/

# IDE
.vscode/
.idea/
*.swp

# SonarQube / SonarCloud
.scannerwork/
sonar-project.properties
sonar-reports/
.sonar/
*.sonar.json
